.TransPage {
  width: 100vw;
  height: 100vh;

  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #efefef;
}

.TransPageEntire {
  width: 45vw;
	height: 60vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;

	background-color: white;
	border-radius: 10px;
	border: 5px solid rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
}