.FooterBar {
  width: 100vw;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.FooterBar {
  background-color: #fff !important;
  margin-top: 0px !important;
  border-radius: 0 !important
}

.ProfileSection {
  margin-left: 2vw !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.RunButton {
  margin-right: 2vw;
}

.FontColor {
  color: white !important;
}

.RunButtonColor {
  background-color: #F2CAB3 !important;
  color: black !important;

  margin-left: 2vw !important;
}

.RunButtonColor:hover,
.RunButtonColor:active  {
  background-color: #b78567 !important; 
  border-color: #b78567  !important;

  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s; 
}

.ReviewButtonColor {
  background-color: #F2CAB3 !important;
  color: black !important;

  margin-left: 2vw !important;

  color: black !important;
}


.ReviewButtonColor:hover,
.ReviewButtonColor:active  {
  background-color: #b78567 !important; 
  border-color: #b78567  !important;
  color: white !important;

  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s; 
}

.PopUp {
  padding: 20px !important; 
}

.Row {
  display: flex;
  justify-content: center !important;
}

.FooterVolume {
  width: 30vw !important;
}