.HeaderBar {
  width: 100vw;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.HeaderBar.Main {
  background-color: #3A2302 !important;
  margin-bottom: 0px;
  border-radius: 0;
}

.HeaderBar.Ide {
  background-color: #3A2302 !important;
  margin-bottom: 0px;
  border-radius: 0;

  border-bottom: solid 0.3px #D4DBE2;
}

.HeaderBar {
  background-color: #DBB39A !important;
  margin-bottom: 0px;
  border-radius: 0;
}

.HeaderAlign {
  margin-left: 18vw;
}

.ProfileAlign {
  margin-right: 15vw !important;
}

.QuitButton {
  margin-right: 2vw;
}

.FontColor {
  color: white !important;
}

.Main .ButtonColor {
  background-color: #fff !important;
  color: black !important;
}

.Main .ButtonColor:hover,
.Main .ButtonColor:active  {
  background-color: #D4DBE2 !important; 
  border-color: #D4DBE2  !important;

  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s; 
}

.Ide .ButtonColor {
  background-color: #F2CAB3 !important;
  color: black !important;
}

.Ide .ButtonColor:hover,
.Ide .ButtonColor:active  {
  background-color: #b78567 !important; 
  border-color: #b78567  !important;

  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s; 
}