.Entire {
  width: 100vw;
  height: 100vh;
}

.LandingPage {
  width: 100vw;
  height: 100vh;
}

.Content {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.ButtonColor {
  background-color: #453C41 !important;
  color: white !important;

  display: flex !important;
  align-items: center;
}

<<<<<<< HEAD
.ButtonColor:hover,
.ButtonColor:active  {
  background-color: #1b1217 !important; 
  border-color: #1b1217 !important;

  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s; 
}

=======
>>>>>>> 2b3d7e4443d104e535beda6917ccefb600f50c7a
.Navigation {
  margin-top: 2vh;
}

.Video{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50vh;
  margin: 5vh 0 5vh 0;
}

.CTA {
  margin-bottom: 5vh;
}

.FontSize {
  font-size: 1.25rem;
}