.Entire {
  width: 100vw;
  height: 100vh;
}

.ThirdPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #F8F8F8;
}

.ThirdContent {
  width: 75vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ThirdText {
  display: flex;
  flex-direction: column;
}