.EntryCard {
  width: 25vw !important;
  height: 60vh !important;
  background-color: #f8d1c2 !important;
  padding: 20px !important;
  border: 3px solid white !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25) !important; 
}