.MainPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #efefef;
}

.EntrySection {
  width: 100vw; 
  height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.MainGridColumn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.EntryCard {
  width: 28vw !important;
  height: 68vh !important;

  color: #4f4f4f !important;

  padding: 3em !important;

  border: 3px solid white !important;
  border-radius: 15px !important;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25) !important;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.EntryButtons {
  width: 21vw;
  height: 8vh;

  background-color: #000034 !important;
  color: white !important;

  border-radius: 10px !important;

}

.EntryButtons:hover,
.EntryButtons:active  {
  background-color: #5c5c96 !important; 
  border-color: #5c5c96  !important;

  color: white !important;

  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s; 
}