.WaitingRoomBackground {
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	backdrop-filter: blur(3px);
	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 2;
}

.WaitingRoom {
	width: 70vw;
	height: 80vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: #DBB39A;
	border-radius: 10px;
	border: 5px solid rgba(255, 255, 255, 1);
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.Content {
	display: flex;
	flex-direction: column;
	margin-left: 5vw;
}

.AllSection {
	display: flex;
}

.HeaderSection {
	width: 60vw;

	margin-bottom: 1vh;
}

.Header {
	margin-left: 0px !important;
	padding-left: 0px !important;
	margin-right: 5vw;
}

.EntryCode {
	-webkit-user-select:text !important;
  -moz-user-select:text !important;
  -ms-user-select:text !important;
  user-select:text !important;
}

.RightSection {
	width: 47vw;
}

.Card-without-border {
  border: none !important;
  box-shadow: none !important;
	background: none !important;

	width: 200px !important;
}

.FitContent {
	width: fit-content;
}

.Volume {
	width: 100vw;
}

.Icon {
	margin: 0 !important;
	color: #3A2302;
}

.StartButton {
	margin-top: 5vh;
}

.StartButtonStyle {
	background-color: #3A2302 !important;
	color: #fff !important;
}