.Entire {
  width: 100vw;
  height: 100vh;
}

.SecondPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.SecondContent {
  width: 75vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.SecondText {
  display: flex;
  flex-direction: column;
}


