.PopUp {
  padding: 20px !important; 
}

.Row {
  display: flex;
  justify-content: center !important;
}

.FooterVolume {
  width: 30vw !important;
}

.Mic:hover {
  background-color: #b7b7b7 !important
}